apiVersion: apps/v1
kind: Deployment
metadata:
  name: producao-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: producao_app
  template:
    metadata:
      labels:
        app: producao_app
    spec:
      containers:
        - name: api
          image: 302039906417.dkr.ecr.us-east-1.amazonaws.com/producao-app:latest

          imagePullPolicy: Always

          ports:
            - containerPort: 8080
          envFrom:
            - configMapRef:
                name: app-config
            - secretRef:
                name: app-secrets
          resources:
            requests:
              cpu: 100m
              memory: 256Mi
            limits:
              cpu: 250m
              memory: 512Mi