apiVersion: apps/v1
kind: Deployment
metadata:
  name: lanchonete-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: lanchonete_app
  template:
    metadata:
      labels:
        app: lanchonete_app
    spec:
      containers:
        - name: api
          image: lanchonete_app:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
          envFrom:
            - configMapRef:
                name: app-config
            - secretRef:
                name: app-secrets
          resources:
            requests:
              cpu: 100m
              memory: 256Mi
            limits:
              cpu: 250m
              memory: 512Mi